name: Maven Build & Release .jar
on:
  push:
    branches: [ main ]

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Extract version from pom.xml
        run: echo "PROJECT_VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_ENV

      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots package

      - name: Copy and rename reference.conf
        run: cp src/main/resources/reference.conf config.txt

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag_name: "v${{ env.PROJECT_VERSION }}"
          name: "Release v${{ env.PROJECT_VERSION }}"
          body: ${{ github.event.head_commit.message }}
          files: |
            target/JMusicBot.jar
            config.txt